@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 80px;
    border-bottom: 4px solid silver;
    background: #474b52;
    text-align: right;
    line-height: 80px;
    position: relative;
    float: left;
    z-index: 0;
}

#header_text {
    color: #ffffff;
    margin-right: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    -webkit-text-stroke: 1.2px black;
}

#aside {
    width: 20%;
    height: 100%;
    background: #474b52;
    padding: 30% 20px;
    border-right: 4px solid silver;
    float: left;
    position: fixed;
    z-index: 1;
    text-align: center;
}

#aside_block {
    position: relative;
    left: 20px;
    top: 10px;
    z-index: 2;

    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid silver;

    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    -webkit-text-stroke: 1.2px black;
    text-align: center;
}

#aside_text {
    position: relative;
    bottom: 87px;
}

.default_code_block {
    position: relative;
    left: 20px;
    top: 40px;
    z-index: 3;

    background-color: white;
    min-width: 20%; max-width: 20%;
    min-height: 80px; max-height: 80px;
    border-radius: 10px 60px 60px 10px;
    border: 2px solid silver;
}